<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog-App</title>
    <%- include('partials/head') %>
</head>

<body>

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 col-md-10 mx-auto">
               <div class="row">
                <div class="col-12 col-md-6 col-lg-5 mx-auto">
                    <h2 class="fst-italic">Welcome To Blog-App</h2>
                    <button type=" button" class="btn btn-primary ms-5 mt-4"><a class="text-light nounderline text-decoration-none" href="login">Login</a></button>
                    <button type="button" class="btn btn-primary mt-4 "><a class="text-light text-decoration-none" href="registration">Register</a></button>
                </div>
               </div>
    </div>
    </div>
    </div>

    <%- include('partials/head') %>
</body>

</html>